* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    display: block;
}

body {
    height: 100vh;
}

a {
    color: #ffffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

p {
    color: #ffffffff;
}

h3 {
    color: #ffffffff;
}