@import "vars",
"libs",
"fonts",
"global",
"media",
"header";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

a {
    color: #ffffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

p {
    color: #ffffffff;
}

h3 {
    color: #ffffffff;
}

.header {
    &__inner {
        background: #4391CF;
        width: 100%;
        height: 15vh;
        padding: 0 70px;
        display: flex;
        // justify-content: center;
        align-items: center;
        list-style: none;
        text-align: center;
        // flex-wrap: wrap;
        justify-content: space-between;
        // position: fixed;
    }
    &__button {
        background: #4391CF;
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 43px;
        color: #ffffffff;
        border: none;
    }
}

.dropDown {
    text-decoration: none;
    color: #fff;
    &__item {
        display: none;
        position: fixed;
        background: url(.png), radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(85, 182, 165, 0.5) 0%, rgba(110, 191, 244, 0.111979) 77.08%, rgba(70, 144, 213, 0) 100%);
        background-blend-mode: overlay, normal;
        border: 2px solid rgba(85, 182, 165, 0.5);
        backdrop-filter: blur(80px);
        border-radius: 5px;
    }
}

.dropDown:hover .dropDown__item {
    display: block;
}

.profile {
    &__link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        margin: 10px;
    }
}

.contanier {
    display: grid;
    height: 85vh;
    grid-template-columns: repeat(5, 1fr);
    // grid-auto-rows: minmax(auto, 100%);
}

.nav {
    &__inner {
        background: #4391CF;
        // padding: 0 100px;
        // width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        // position: fixed;
    }
    &__item_active {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        background-color: #ffffffff;
    }
    &__item {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        display: flex;
    }
}

.main {
    // height: 100%;
    grid-column-start: 2;
    grid-column-end: 6;
    &__inner {
        height: 100%;
        // display: grid;
        // grid-template-columns: repeat(5, 1fr);
        // grid-template-rows: repeat(4, 1fr);
    }
}

.sensors {
    background: #4391CF;
    // grid-column-start: 1;
    // grid-column-end: 2;
    // grid-auto-rows: 100%;
    // grid-template-rows: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    &__link {
        grid-row-start: 2;
        grid-row-end: 3;
        text-align: center;
    }
    &__img {
        background: rgba(85, 182, 165, 0.7);
        border: 2px solid rgba(85, 182, 165, 0.5);
        padding: 28px 30px;
        border-radius: 100px;
        margin: 10px;
        // justify-content: center;
        // grid-row-start: 3;
        // grid-row-end: 3;
    }
    &__text {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        // justify-content: center;
        // grid-row-start: 2;
        // grid-row-end: 3;
    }
}

.rooms {
    // grid-column-start: 2;
    // grid-column-end: 6;
    // grid-auto-rows: 100fr;
    &__inner {
        display: grid;
        // grid-template-rows: repeat(3, 1fr);
        // grid-template-columns: repeat(4, 1fr);
    }
    &__add {
        grid-row-start: 1;
        grid-row-end: 2;
        // grid-column-start: 1;
        // grid-column-end: 2;
        display: inline;
    }
    &__add-img {
        background: url(.png), radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(85, 182, 165, 0.5) 0%, rgba(110, 191, 244, 0.111979) 77.08%, rgba(70, 144, 213, 0) 100%);
        background-blend-mode: overlay, normal;
        border: 2px solid rgba(85, 182, 165, 0.5);
        backdrop-filter: blur(80px);
        border-radius: 15px;
        margin: 20px;
        padding: 32px 65px;
    }
    &__text-none {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        grid-row-start: 2;
        grid-row-end: 3;
        // grid-column-start: 3;
        // grid-column-end: 3;
        text-align: center;
    }
}

.scripts {
    &__inner {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }
    &__add {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &__add-img {
        background: url(.png), radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(85, 182, 165, 0.5) 0%, rgba(110, 191, 244, 0.111979) 77.08%, rgba(70, 144, 213, 0) 100%);
        background-blend-mode: overlay, normal;
        border: 2px solid rgba(85, 182, 165, 0.5);
        backdrop-filter: blur(80px);
        border-radius: 15px;
        padding: 32px 65px;
        margin: 20px;
    }
    &__text-none {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        grid-row-start: 2;
        grid-row-end: 3;
        text-align: center;
    }
}

.profileHeader {
    &__inner {
        background: #4391CF;
        width: 100%;
        height: 33vh;
        text-align: center;
        padding: 25px 0;
    }
    &__button-close {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    &__title-name {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 43px;
    }
    &__title-devices {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 43px;
    }
}

.profileNav {
    &__inner {
        background: #4391CF;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
    }
    &__item {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        display: flex;
    }
    &__item_active {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        background-color: #ffffffff;
    }
}

.profileMain {
    height: 57vh;
    &__inner {
        height: 100%;
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    &__link {
        padding: 15px;
    }
    &__link-sound,
    &__link-notices,
    &__link-language,
    &__link-securityParameters,
    &__link-reset,
    &__link-userAgreement,
    &__link-logout {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
    }
    &__version-contanier {
        margin: 0 auto;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    &__version {
        align-items: center;
        // width: 150px;
        flex-direction: column;
        // padding: 30px;
        // margin-top: 50%;
        height: 18vh;
        // transform: translate(50%);
    }
    &__version_title {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        // width: 150px;
        // margin: 0 auto;
        // align-items: center;
    }
    &__version_text {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #000000;
        display: block;
    }
    &__progressBar {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    &__lastVersion {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #000000;
        // padding: 60px;
    }
    &__autoload-checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__autoload_title {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #000000;
        // padding: 5px;
    }
    &__checkbox {
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    &__autoload_text {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #969696;
        // padding: 0 0 10px 0;
    }
    &__button-Updates {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        background: #4391CF;
        border-radius: 15px;
        padding: 22px 11px;
        border: none;
        max-width: 232px;
    }
}

.registrationHeader {
    &__inner {
        padding: 20px;
        width: 100%;
        height: 100%;
        background: #4391CF;
        text-align: center;
    }
    &__title {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 43px;
    }
}

.registrationMain {
    &__inner {
        height: 100%;
        background: #4391CF;
        flex-direction: column;
        text-align: center;
    }
}

.input {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 3px solid #FFFF;
    width: 825px;
    color: inherit;
    outline: none;
    padding: 15px;
    background-color: #4391CF;
}

::-webkit-input-placeholder {
    color: #FFFF;
}

.checkbox {
    margin: 30px;
    &__input {
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
    }
    &__text {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }
}

.registrationButton {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    background: rgba(85, 182, 165, 0.5);
    border-radius: 15px;
    padding: 30px 51px;
    border: none;
}

.loginHeader {
    &__inner {
        padding: 20px;
        width: 100%;
        height: 100%;
        background: #4391CF;
        text-align: center;
    }
    &__title {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 43px;
    }
}

.loginMain {
    &__inner {
        height: 100%;
        background: #4391CF;
        flex-direction: column;
        text-align: center;
    }
}

.loginButton {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    background: rgba(85, 182, 165, 0.5);
    border-radius: 15px;
    padding: 30px 51px;
    border: none;
}